<section class="started">
    <div class="started_container">
        <div class="txt_started">
            <h2>Running App</h2>
            <p>Run and earn with our app. Some text Example will be her</p>
        </div>
        <div class="btn_started">
            <button><a href="">Get Started</a></button>
        </div>
    </div>
</section>